# complied objects
*.so
*.o
*.dll
#*.hpp
#*.cpp

# R outputs that one does not normally want to VC
*.rds
*.pdf
*.png
*.log

# the package directory - sometimes useful sometimes not
#package/

# ignore renv library
renv/

# the tex file for the rmd - useful for me, don't check into the repo
report-template.tex

# sometimes these don't get cleaned up properly
*.aux
*.out

# the backup file produced by bibtex-tidy
bibliography/*.bib.original

# r files that accidentally get generated some times
.RData
.Rhistory

# os files
.DS_Store